<template>
  <div class="text-black flex flex-col shadow-lg my-8 md:my-0 items-center p-16 text-center bg-white stats-card">
    <img class="h-16" :src="content.imgSrc" alt="content.title">
    <h2 class="text-lg font-light mb-2">{{content.title}}</h2>
    <p class="font-bold text-sm" v-html="content.description" />
  </div>
</template>
<script>
import GeneralMixins from '../../../mixins/GeneralMixins'
export default {
  mixins: [GeneralMixins]
}
</script>
<style scoped>
  .stats-card{
    min-width: 266px;
    max-width: 266px;
    min-height: 300px;
    max-height: 300px;
  }
</style>