<template>
  <div>
    <Nav />
    <MainHeader/>
    <Presentation v-for="obj, objIndex in presentation" :key="objIndex" :content="obj"/>
    <Stats />
    <tabs />
    <Footer />
  </div>
</template>
<script>
import {Nav, MainHeader, Presentation, Stats, Tabs, Footer} from '../components'
import PorscheCockpit from '../assets/porsche-cockpit.2f78604c.png'
import Gmotor from '../assets/g-motor5.6e3db65a.jpeg'
import {reactive, toRefs} from 'vue'
export default {
  components: {
    Nav, MainHeader, Presentation, Stats, Tabs, Footer
  },

  setup() {
    let data = reactive({
      presentation: [{
        left: true,
        columns: [{
          backgroundColor: 'customBlue',
          title: 'Future is now',
          subtitle: 'Taycan concept',
          description: 'The soul has many aspects. It is variable and constantly changing. When viewing the Porsche Taycan, it reveals itself by a smile that expresses total delight. Or by the urge for freedom at the wheel of the new Taycan Cross Turismo that holds its ground, even away from everyday life.'
        }, {
          imgSrc: PorscheCockpit
        }]
      }, {
        left: false,
        columns: [{
          backgroundColor: 'white',
          button: {
            backgroundColor: 'customBlue',
            text: 'Book a test'
          },
          title: 'Our first electric Sportscar', 
          subtitle: 'Taycan concept',
          description: 'The soul has many aspects. It is variable and constantly changing. When viewing the Porsche Taycan, it reveals itself by a smile that expresses total delight. Or by the urge for freedom at the wheel of the new Taycan Cross Turismo that holds its ground, even away from everyday life.'
        }, {
          imgSrc: Gmotor,
          contain: true
        }]
      }]
    })

    return{
      ...toRefs(data)
    }
  }
}
</script>