<template>
  <div class="container mx-auto my-14">
    <img :src="Logo" alt="porsche logo in black and white" class="w-28 mx-auto">
  </div>
</template>
<script setup>
import Logo from '../assets/porsche_logo.273ffb63.png'
</script>