<template>
  <div>
    <div 
      class="background-image container mx-auto bg-cover md:bg-contain bg-no-repeat md:bg-center relative -top-32 md:-top-16">

    </div>
  </div>
</template>
<script setup>
import PorscheBackground from '../assets/porsche-model.d446ef9b.png'
</script>
<style scoped>
.background-image{
  background-image: url('../assets/porsche-model.d446ef9b.png');
  height: calc(100vh - 128px);
  width: 100%;
}
</style>