<template>
  <div class="stats bg-cover bg-bottom bg-no-repeat relative py-8 lg:pt-32" 
    :style="`background-image: url(${PorscheBigBackground}); min-height: 300px; background-position: center bottom -6rem;`">
    <div class="w-full h-full bg-customBlue opacity-75 absolute top-0 left-0 z-0"></div>
    <div class="stats-component flex flex-col lg:flex-row w-full items-center justify-between
     z-30 relative lg:absolute p-8">
      <stats-card v-for="obj, objIndex in cards" :key="objIndex" :content="obj"/>
    </div>
  </div>
</template>
<script>
import {reactive, toRefs} from 'vue'
import StatsCard from '../components/elements/stats/StatsCard.vue'
import PorscheBigBackground from '../assets/2020-porsche.48c55ac6.jpeg'
import plug from '../assets/rounded-plug.080bff93.png'
import size from '../assets/dimensions.27ac95da.png'
import speed from '../assets/speed.da8c17a0.png'
import weight from '../assets/weight.a1628288.png'

export default{
  components: {
    StatsCard,
  },
  setup(){
    const data = reactive({
      PorscheBigBackground,
      cards: [
        {
          imgSrc: plug,
          title: 'Range',
          description: '301 miles<br>(25.4 - 20.4 kwh/100 miles)'
        },
        {
          imgSrc: speed,
          title: 'Speed',
          description: '5.4s<br>0 - 100km'
        },
        {
          imgSrc: size,
          title: 'Size',
          description: 'L: 4,983 mm<br>W: 1,966 mm<br>H: 1395mm'
        },
        {
          imgSrc: weight,
          title: 'Weight',
          description: '2,050 kg'
        },
      ]  
    })
    return {
      ...toRefs(data)
    }
  }
}
</script>